@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    font-size: 18px;
    line-height: 1.5;
}

header, main, footer {
    margin: 1.25rem auto;
    max-width: 50rem;
    font-family: 'Varela Round', 'Lucida Sans', sans-serif;
}

h1, h2 {
    text-align: center;
    color: white;
}

h1 {
    margin-top: 1rem;
    padding-top: 1rem;
}

h2 {
    margin-top: -1rem;
    padding-bottom: 1rem;
}

header {
    background-color: #2D3339;
}

main a {
    display: block;
    font-size: .8rem;
}

main {
    display: grid;
    grid-template-columns: 1fr;
}

#principle-1 {
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
}
#principle-2 {
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
}

#principle-3 {
    grid-column: 1;
    grid-row: 3;
    justify-self: center;
}

h3 {
    width: 224px;
    color: white;
    background-color: #346B98;
    border-radius: 15px 15px 0px 0px;
    padding: .5rem;
    border-top: 2px solid #2d3339;
    border-left: 2px solid #2d3339;
    border-right: 2px solid #2d3339;
    text-align: center;
}

h4, main a {
    width: 224px;
    background-color: #CBD2D0;
    margin-top: -1.5rem;
    text-align: left;
    padding: .5rem;
    border-left: 2px solid #2d3339;
    border-right: 2px solid #2d3339;
}

h4 {
    font-size: 1rem;
}

main div img {
    background-color: #CBD2D0;
    border-left: 2px solid #2d3339;
    border-right: 2px solid #2d3339;
    padding: 20px;
}

main p {
    width: 224px;
    color: white;
    background-color: #346B98;
    margin-top: -.5rem;
    padding: .5rem;
    text-align: left;
    font-size: .9rem;
    border-radius: 0px 0px 15px 15px;
    border-bottom: 2px solid #2d3339;
    border-left: 2px solid #2d3339;
    border-right: 2px solid #2d3339;
}

footer {
    text-align: center;
    background-color: #2D3339;
    padding: 1rem;
    color: white;
}

footer a:link {
    color: #346B98;
}

footer a:hover {
    text-decoration: none;
    color: white;
}

footer a:visited {
    color: #346B98;
}