@media only screen and (min-width: 80em) {
    header {
        display: flex;
    }

    header div {
        flex: 1 1 100%;
    }

    header h1 {
        margin-top: 6rem;
        margin-left: -8rem;
        font-size: 40px;
        max-width: 1200px;
    }
    
    header img {
        margin-top: -2rem;
        margin-bottom: -3rem;
        width: 280px;
        padding-bottom: 1rem;
    }

    main h2 {
        font-size: 30px;
    }

    .section-box {
        max-width: 50rem;
    }

    .banner {
        margin-bottom: 0;
    }

    .gallery-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #gallery-main {
        max-width: 80rem;
    }

    .card:hover {
        box-shadow: 0 8px 16px 0 #777;
    }

    .home-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0.75rem;
      }
      
      .home-cards section {
        display: block;
        border-radius: 10px;
      }

      .home-cards {
        margin-top: -1.5rem;
        max-width: 90rem;
        width: 100%;
      }

      .home-cards section {
        max-width: 400px;
        width: 100%;
      }
      
      .home-cards h2 {
        margin-bottom: -0.3rem;
      }
      
      .home-cards img {
        width: 100%;
        height: 13rem;
        margin-top: -1rem;
        margin-bottom: -0.4rem;
        border-radius: 0 0 8px 8px;
      }
      
      .town-info div {
        margin-top: 0.5rem;
        margin-bottom: 0rem;
        font-size: 14px;
      }
      
      .home-cards p {
        line-height: .75rem;
      }
}