@media only screen and (min-width: 45em){
    .navigation {
        display: flex;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    header img {
        width: 256px;
    }

    header h1 {
        margin-top: -3rem;
        font-size: 2rem;
    }

    header #motto {
        font-size: 1.5rem;
    }

    main h2 {
        font-size: 24px;
    }

    .section-box {
        max-width: 40rem;
    }

    footer {
        max-width: 55rem;
    }

    .hero-div {
        max-width: 50rem;
        max-height: 300px;
        margin-bottom: 7rem;
    }

    .hero-img {
        max-width: 50rem;
        max-height: 300px;
    }

    .weather-summary {
        top: 40px;
        left: 40px;
    }

    .forecast-title {
        display: block;
    }

    .forecast-div {
        display: flex;
    }

    .article h3 {
        margin-top: 0;
    }

    .article img {
        float: right;
        margin: 0.5rem;
    }
}
