@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Mandali&display=swap');

body {
    background-color: #EBEBEB;
    line-height: 1.5rem;
}

h1, h3, h4 {
    font-family: 'Mandali', Helvetica , sans-serif;
}

p, h2, li, table {
    font-family: 'DM Sans', Arial, sans-serif;
}

header, main, nav, footer {
    margin: 0 auto;
    max-width: 60rem;
}

nav {
    margin-top: -1.25rem;
    background-color: #626C66;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li a {
    display: block;
    text-align: center;
    padding: 0.5rem;
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: white;
    background-color: #AD343E;
}

header {
    background-color: #4464AD;
    display: block;  
}

header h1 {
    font-size: 1.5rem;
    margin-top: -2.5rem;
    color: #E5B012;
    text-align: center;
}

header h2 {
    font-size: 1rem;
    color: white;
    text-align: center;
    padding-bottom: 1rem;
    margin-top: -0.5rem;
}

header img {
    display: block;
    padding-top: 1.25rem;
    padding-bottom: 1rem;
    margin-top: -2rem;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.section1, .section2, .section3 {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

.section1 p, .section2 p {
    margin-top: -0.75rem;
}

footer {
    text-align: center;
    background-color: #4464AD;
    color: white;
    padding: .25rem;
}

footer a {
    text-decoration: none;
    color: #E5B012;
}

footer a:hover {
    color: white;
}

.section2 ul, .section3 ul {
    list-style-type: none;
    padding-bottom: 1rem;
    border-bottom: 2px solid #403D39;
}

.section2 ul li, .section3 ul li {
    text-align: left;
    margin-left: -2rem;
}

.section2 img {
    display: block;
    padding-top: 2rem;
    margin-top: -2rem;
    margin-left: auto;
    margin-right: auto;
    width: 15rem;
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 1rem;
}

td {
    padding: 1rem;
}
